:root {
    --color-bg-nav: #f4f1ea;
    --color-bg-body: #fff;
    --color-bg-card: #faf8f6;
    --color-bg-footer: #f4f1ea;

    --color-text-body-light: #4f4f4d;
    --color-text-body-standard: #1e1915;
    --color-text-disabled: #8e8e97;

    --color-btn-wtr-base: #3f8363;
    --color-btn-wtr-hover: #409970;

    --color-bg-rating-star-base: #e87400;
    --color-bg-rating-star-empty: #c2c7cc;
    --color-bg-rating-star-border: #8e8e97;

    --color-input-border: #dcd6cc;
    --color-input-bg: #fff;



}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg-body);

}

.row {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.book .star-container {
    color: orange;
    display: inline-block;
    text-decoration: none;
    padding: 0.25rem 1rem;
    border-radius: 8px;
    border: 2px solid transparent;
}

.book .star-container:hover {
    background-color: var(--color-bg-rating-star-empty);
}

.book .star-container svg:last-child {
    color: lightgrey;
}

footer {
    background-color: #dcd6cc;
}

footer.col {
    /*min-width: 200px;*/
    width: 30%;
    flex: 1;
}

footer.col:last-child {
    margin-left: auto;
}

.book span {
    color: var(--color-text-disabled);
}

.book span.star-rating {
    color: var(--color-text-body-light);
    font-size: 0.5rem;
}

footer .app-button-container {
    gap: 1rem;
}

footer ul {
    list-style: none;
}

footer li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-text-body-light);
    /*text-decoration: ;*/
}

footer .store-button {
    max-width: 140px;
}

footer .col:last-child {
    margin-left: auto;
}